<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Animal Records</title>

</head>
<body>
<table class="table table-striped table-bordered table-sm">
		<thead class="thead-dark">
		<tr>
				<th>ID </th>
				<th>Animal Type</th>
				<th>Breed</th>
				<th>Age</th>
				<th>Name</th>
				<th>Location</th>
				<th>Actions</th>
		</tr>
		</thead>
		<tbody>
{% for id in animals %}
		<tr>
				<td>{{id.id}}</td>
				<td>{{ id.animaltype }}</td>
				<td>{{ id.breed }}</td>
				<td>{{ id.age }}</td>
				<td>{{ id.name }}</td>
				<td>{{ id.location }}</td>
				<td>
						<a href="/edit/{{ id.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
						<a href="/delete/{{ id.id }}">Delete</a>
				</td>
		</tr>
{% endfor %}
		</tbody>
</table>
<br>
<br>
<center><a href="/animals" class="btn btn-primary">Add New Record</a></center>
</body>
</html>
